{{define "base"}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{index .StringMap "test"}}</title>
        {{block "css" .}}
        {{end}}
    </head>
    <body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="54">
        {{block "nav" .}}
        {{end}}
        <main class="flex-shrink-0 account-for-nav">
            {{block "content" .}}
            {{end}}
        </main>
        {{block "footer" .}}
        {{end}}

        {{block "modals" .}}
        {{end}}

        {{block "js" .}}
        {{end}}

        {{with .Error}}
            <script>
                Notify("{{.}}", "error");
            </script>
        {{end}}

        {{with .Flash}}
            <script>
               Notify("{{.}}", "success");
            </script>
        {{end}}

        {{with .Warning}}
            <script>
                Notify("{{.}}", "warning");
            </script>
        {{end}}
    </body>
</html>
{{end}}