{{template "base" .}}

{{define "content"}}
    <div class="container my-5">
        <div class="row">
            <div class="column">
                <h1 class="mt-5">Thanks for Contacting Us</h1>
                <p>Well well review the information you have provided and get back to you with a response as soon as possible.</p>

                <h4>You provided the following information to us:</h4>
                <form id="contactForm" name="contactForm" method="post" action="/contact-form">
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3"><input disabled value="{{index .StringMap "name"}}" class="form-control" type="text" id="name" name="name" placeholder="Your Name *" required=""><small class="form-text text-danger flex-grow-1 lead"></small></div>
                            <div class="form-group mb-3"><input disabled value="{{index .StringMap "email"}}" class="form-control" type="email" id="email" name="email" placeholder="Your Email *" required=""><small class="form-text text-danger lead"></small></div>
                            <div class="form-group mb-3"><input disabled value="{{index .StringMap "phone"}}" class="form-control" type="tel" placeholder="Your Phone *" name="phone" required=""><small class="form-text text-danger lead"></small></div>
                            <div class="form-group mb-3"><textarea disabled class="form-control" id="message"  name="message" placeholder="Your Message *" required="" style="height:233px;">{{index .StringMap "message"}}</textarea><small class="form-text text-danger lead"></small></div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
{{end}}