{{define "rooms"}}
    <section class="bg-secondary" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading text-primary">Rooms</h2>
                    <h3 class="section-subheading text-light">We have plenty of room for you and yours.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 portfolio-item"><a class="portfolio-link" href="#portfolioModal" data-bs-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div><img class="img-fluid w-100" src="/static/images/rooms/cabin.webp">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Aspen Cabin</h4>
                        <p class="text-muted">1-6 Guests</p>
                        <div class="i-reserve"><a href="/reservation" title="Reserve"><i class="fa fa-home"></i></a></div>
                        <div class="i-heart"><a href="#" title="Like"><i class="fa fa-heart"></i></a></div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 portfolio-item"><a class="portfolio-link" href="#portfolioModal" data-bs-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div><img class="img-fluid w-100" src="/static/images/rooms/cabin3.webp">
                    </a>
                    <div class="portfolio-caption">
                        <h4>North Cabin</h4>
                        <p class="text-muted">1-10 Guests</p>
                        <div class="i-reserve"><a href="/reservation" title="Reserve"><i class="fa fa-home"></i></a></div>
                        <div class="i-heart"><a href="#" title="Like"><i class="fa fa-heart"></i></a></div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 portfolio-item"><a class="portfolio-link" href="#portfolioModal" data-bs-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div><img class="img-fluid w-100" src="/static/images/rooms/cabin2.webp">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Finish Cabin</h4>
                        <p class="text-muted">1-2 Guests</p>
                        <div class="i-reserve"><a href="/reservation" title="Reserve"><i class="fa fa-home"></i></a></div>
                        <div class="i-heart"><a href="#" title="Like"><i class="fa fa-heart"></i></a></div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 portfolio-item"><a class="portfolio-link" href="#portfolioModal" data-bs-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div><img class="img-fluid w-100" src="/static/images/rooms/beach.webp">
                    </a>
                    <div class="portfolio-caption">
                        <h4>West Beach</h4>
                        <p class="text-muted">3-4 Guests</p>
                        <div class="i-reserve"><a href="/reservation" title="Reserve"><i class="fa fa-home"></i></a></div>
                        <div class="i-heart"><a href="#" title="Like"><i class="fa fa-heart"></i></a></div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 portfolio-item"><a class="portfolio-link" href="#portfolioModal" data-bs-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div><img class="img-fluid w-100" src="/static/images/rooms/lights.jpeg">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Southwest</h4>
                        <p class="text-muted">3-4 Guests</p>
                        <div class="i-reserve"><a href="/reservation" title="Reserve"><i class="fa fa-home"></i></a></div>
                        <div class="i-heart"><a href="#" title="Like"><i class="fa fa-heart"></i></a></div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 portfolio-item"><a class="portfolio-link" href="#portfolioModal" data-bs-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div><img class="img-fluid w-100" src="/static/images/rooms/thumb10.jpeg">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Mid-Town Suite</h4>
                        <p class="text-muted">1-2 Guests</p>
                        <div class="i-reserve"><a href="/reservation" title="Reserve"><i class="fa fa-home"></i></a></div>
                        <div class="i-heart"><a href="#" title="Like"><i class="fa fa-heart"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center"><a class="btn btn-primary link-dark btn-xl text-uppercase mt-3" role="button" id="sendMessageButton-1" href="/rooms">See More</a></div>
            </div>
        </div>
    </section>
{{end}}