{{template "base" .}}

{{define "content"}}
    <div class="container my-5">
        <div class="row">
            <div class="column">
                <h1>Terms of Use page</h1>
                <p>This came from the template [{{index .StringMap "test"}}]</p>
            </div>
        </div>
    </div>
{{end}}